.cause {
  position: relative;
  overflow: hidden;
}

.cause__wrapper {
  padding: 100px 10px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.cause__items {
  margin: 50px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 68px;
}

.cause__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  padding: 30px 25px 30px 0;
  position: relative;
}

.cause__item::before {
  position: absolute;
  content: "";
  width: 20px;
  height: calc(100% - 13px);
  background: -webkit-gradient(linear, left top, right top, from(#84a5f1), to(#4b77ee));
  background: linear-gradient(90deg, #84a5f1 0%, #4b77ee 100%);
  border-radius: 3px;
  top: 50%;
  left: -10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.cause__item::after {
  position: absolute;
  content: "";
  width: 11px;
  height: calc(100% - 11px);
  background: #ffffff;
  top: 50%;
  left: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.cause__item-img {
  width: 100%;
  max-width: 100px;
  min-width: 100px;
  margin-right: 25px;
  position: relative;
  z-index: 2;
}

.cause__item-text {
  font-size: 14px;
  line-height: 20px;
}

.cause__item-text span {
  font-weight: 600;
}

.cause__decor {
  position: absolute;
  width: 100%;
}

.cause__decor-1 {
  max-width: 415px;
  top: 55px;
  left: 155px;
}

.cause__decor-2 {
  max-width: 602px;
  bottom: 0;
  right: 150px;
}

.cause .slick-list {
  padding-left: 10px;
}

@media (max-width: 1200px) {
  .cause__items {
    grid-gap: 30px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1100px) {
  .cause__item {
    padding: 20px 15px 20px 0;
  }
}

@media (max-width: 650px) {
  .cause__wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  .cause__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cause__item {
    margin: 0 10px;
  }
}
